<div class="add_success"><%= flash[:notice] %></div>

<!-- 主頁面 -->
<h1>Vote</h1>

<a class="button" href="/candidates/new">Add Candidate</a>
<!-- 用link_to可以用prefix的路徑！<%=link_to 'Add Candidate', new_candidate_path %> -->

<table class="label">
  <tr>
    <td></td>
    <td class="column">Votes</td>
    <td class="column">Name</td>
    <td class="column">Party</td>
    <!-- <td>Edit</td>
    <td>Delete</td> -->
  </tr>

  <% @candidates.each do |candidate| %>
  <tr>
    <td class="button">
      <%= link_to 'Vote', vote_candidate_path(candidate.id), method: 'post'%>
    </td>
    <td><%= candidate.vote_logs.count %></td>
    <td><%= link_to candidate.name, candidate_path(candidate.id) %></td>
    <td><%= candidate.party %></td>
    <td class="button">
      <%= link_to 'Edit', edit_candidate_path(candidate.id) %>
    </td>
    <td class="button">
      <%= link_to 'Delete', candidate_path(candidate.id), method: 'delete' %>
    </td>
  </tr>

  <% end %>
</table>
