<h1>Show Candidate</h1>

<div class="name"><%= @candidate.name %></div>

<!-- 主頁面按下候選人到這裡可以看到候選人資訊 -->
<ul class="label">
  <li>Party: <%= @candidate.party %></li>
  <li>Age: <%= @candidate.age %></li>
  <li>Politics <%= @candidate.politics %></li>
</ul>

<div class="button"><%= link_to 'Go back to Vote', candidates_path %></div>
