<!DOCTYPE html>
<html>
  <head>
    <title>Vote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div><h1>Let's vote for the future!</h1></div>
  <div><h1>--------------------------</h1></div>
    <%= yield %>
  <div><h1>--------------------------</h1></div>
  <div><h1>Thank you for voting!</h1></div>
  </body>
</html>
